<a href="https://colab.research.google.com/github/Aditi31kapil/Cognitive_Computing/blob/main/Assignment2Coginitive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ques 1

In [ ]:
def oneprogram(l):
  print("Adding 200")
  for i in range(len(l)):
    print(l[i]+200, end=",")
  print("\n")
  print("Adding 300")
  for i in range(len(l)):
    print(l[i]+300, end=",")
  print("\n")

def threeprogram(l):
  print("Ascending order")
  l.sort()
  print(l)
  print("descending order")
  l.reverse()
  print(l)

def twoprogram(l):
  a = l[:]
  print("removing 10, 30")
  a.remove(10)
  a.remove(30)
  print(a)


p = [10, 20, 30, 40, 50, 60, 70, 80]
oneprogram(p)
twoprogram(p)
threeprogram(p)

Ques 2

In [5]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
def highest_score_index(scores):
  a = max(scores)
  print(a)
  b = scores.index(a)
  print(b)

def lowest_score_count(scores):
  a = min(scores)
  print(a)
  b = scores.count(a)
  print(b)
def rev_list(scores):
  a = list(scores[::-1])
  print(a)

def check_num(scores):
  a = 76 in scores
  print(a)
  b = scores.index(76)
  print(b)

highest_score_index(scores)
lowest_score_count(scores)
rev_list(scores)
check_num(scores)

92
5
45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
True
2

Ques 3

In [6]:
import random, math
def isprime(n):
  for i in range(2,int(math.sqrt(n))):
    if(n%i == 0):
      return False
  return True
def fun2():
  l = [random.randint(100, 900) for i in range(100)]
  odd = []
  even = []
  prime = []
  for i in range(len(l)):
    if (i%2 !=0):
      odd.append(l[i])
    else:
      even.append(l[i])
    if(isprime(l[i])):
      prime.append(l[i])
  print("Odd numbers are",odd)
  print("Even numbers are",even)
  print("Prime numbers are",prime)

fun2()

Odd numbers are [727, 609, 722, 497, 217, 184, 832, 255, 136, 882, 761, 525, 869, 523, 116, 271, 686, 471, 861, 280, 395, 809, 674, 421, 219, 423, 861, 189, 465, 133, 462, 273, 809, 864, 861, 757, 186, 392, 653, 811, 724, 492, 155, 703, 701, 571, 264, 525, 251, 362]
Even numbers are [508, 126, 303, 729, 637, 377, 349, 214, 365, 557, 561, 218, 513, 506, 322, 200, 633, 729, 245, 144, 730, 450, 713, 835, 513, 823, 392, 899, 516, 517, 115, 424, 808, 166, 543, 465, 819, 414, 519, 346, 485, 691, 220, 261, 805, 692, 372, 288, 301, 399]
Prime numbers are [727, 349, 557, 761, 523, 271, 809, 421, 823, 899, 809, 757, 653, 811, 691, 701, 571, 251]

Ques 4

In [10]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

def union(A,B):
  print(A.union(B))

def intersection(A,B):
  print(A.intersection(B))

def symmetric_difference(A,B):
  print(A.symmetric_difference(B))

def A_is_subset_of_B(A,B):
  print(A.issubset(B))

def remove_from_A(A):
  a = int(input("Enter the number to remove from A"))
  if(a in A):
    A.remove(a)
    print(A)
  else:
    print("Number not found")

union(A,B)
intersection(A,B)
symmetric_difference(A,B)
A_is_subset_of_B(A,B)
remove_from_A(A)

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
Enter the number to remove from A34
{56, 90, 78}

Ques 5

In [11]:
data = {"city": "New York", "population": 8419600, "area": 468.9}
def rename_key(data, old_key, new_key):
  if old_key in data:
    data[new_key] = data.pop(old_key)
  print(data)

rename_key(data, "city", "location")

{'population': 8419600, 'area': 468.9, 'location': 'New York'}